<ion-content class="ion-padding">
  <ion-card class="login-card">
    <ion-card-header>
      <ion-card-title>Bienvenido usuario</ion-card-title>
    </ion-card-header>
    <ion-card-subtitle>Rellena los campos para iniciar tu sesión</ion-card-subtitle>
    

    <ion-card-content>
      <form action="">
        <ion-item>
          <ion-label position="floating">Correo electrónico:</ion-label>
          <ion-input type="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña:</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>

        <ion-button expand="block" color="success" type="submit">Iniciar sesión</ion-button>
      </form>
      <div class="otras-opciones">
        <ion-button fill="clear" size="small" color="medium" class="ion-margin-top">
          <ion-icon name="key-outline" slot="end"></ion-icon>
          ¿Olvidaste tu contraseña?
        </ion-button>
        <ion-button fill="clear" size="small" color="light">
          <ion-icon name="person-add-sharp" slot="end"></ion-icon>
          ¿No tienes cuenta? Regístrate
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>