
ion-content {
    --background: linear-gradient(145deg, #B6BBC4, #151720);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background-color: #F0ECE5;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin: 13px;
    max-width: 400px;
    padding: 15px;
    width: 90%;

    ion-card-header {
        text-align: center;
        background-color: #B6BBC4;
        border-radius: 15px;
        padding: 15px;
        margin-bottom: 15px;
    }

    ion-card-title {
        color: #F0ECE5;
        font-size: 1.6rem;
        font-weight: bold;
    }

    ion-card-subtitle {
        color: black;
        font-size: 1.1rem;
    }

    ion-card-content {
        padding: 5px;
    }

    ion-input {
        --border-radius: 10px;
    }

    .custom-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;

        ion-button {
            --background: #161A30;
            --border-radius: 8px;
            --color: #F0ECE5;
            --padding-start: 20px;
            --padding-end: 20px;
            --padding-top: 10px;
            --padding-bottom: 10px;
            --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
            width: 45%;
        }
    }

    .otras-opciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        ion-button {
            font-size: 0.9em;
        }
    }
}