

ion-card {
    background: #f2f0ec;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

ion-card-title {
    font-size: 2.5em;
    font-weight: bold;
}

ion-segment {
    border-radius: 10px;
    margin-top: 20px;
}

ion-segment-button {
    --indicator-color: var(--ion-color-primary);
}

ion-list {
    background: transparent;
}

ion-item {
    margin-bottom: 10px;
    border-radius: 20px;
}
