<!-- Menu principal -->

<ion-menu contentId="main-content">
  
  <ion-header>
    <ion-toolbar>
      <ion-title class="custom-title-menu">Menú principal</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/wallet" detail>
        <ion-icon name="wallet-sharp" class="ion-margin-end"></ion-icon>
        Billetera
      </ion-item>

      <ion-item routerLink="/indicadores" detail>
        <ion-icon name="bar-chart-sharp" class="ion-margin-end"></ion-icon>
        Indicadores económicos
      </ion-item>

      <ion-item routerLink="/configuracion" detail>
        <ion-icon name="hammer-sharp" class="ion-margin-end"></ion-icon>
        Configuración
      </ion-item>
    </ion-list>
  </ion-content>
  
</ion-menu>
<!--      -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="custom-title">XpenseTrack</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true" class="ion-padding" id="main-content">
    
    <div class="ion-page" id="main-content">
      <p><strong>Bienvenido, {{ username }}</strong></p>
    </div>
    
  </ion-content>