ion-toolbar {
  --background: #31304D;
  color: white;
}

ion-title {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  color: #B6BBC4;
}

form {
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

ion-label {
  color: #7F8C8D;
  font-size: 1em;
}

ion-input {
  --padding-start: 15px;
  --padding-end: 15px;
  --border-radius: 8px;
}


mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 8px;
}

.mat-form-field-appearance-fill .mat-form-field-label {
  color: #7F8C8D;
}

.mat-form-field-appearance-fill .mat-form-field-underline {
  display: none;
}

.mat-datepicker-toggle {
  color: black;
}

.ion-padding {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

ion-button {
  --background: #B6BBC4;
  --border-radius: 10px;
  font-weight: bold;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

ion-button[color="light"] {
  --background: #BDC3C7;
}
