<!-- Menu principal -->

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/wallet">
        <ion-icon name="wallet-sharp"></ion-icon>
        <ion-label>Billetera</ion-label>
      </ion-item>
      <ion-item routerLink="/configuracion">
        <ion-icon name="hammer-sharp"></ion-icon>
        <ion-label>Configuración</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<!--             -->

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title>
        Bienvenido, {{ username }}!
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-title class="ion-margin-top">Información personal</ion-title>
    <form (ngSubmit)="onSubmit()">
  
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="userData.nombre" name="nombre" #nombreInput></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input [(ngModel)]="userData.apellido" name="apellido" #apellidoInput></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Nivel de educación</ion-label>
        <ion-select [(ngModel)]="userData.nivelEducacion" name="nivelEducacion">
          <ion-select-option value="basica">Básica</ion-select-option>
          <ion-select-option value="media">Media</ion-select-option>
          <ion-select-option value="superior">Superior</ion-select-option>
          <ion-select-option value="doctorado">Doctorado</ion-select-option>
        </ion-select>
      </ion-item>
  
      <mat-form-field appearance="fill">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="userData.fechaNacimiento" name="fechaNacimiento" (click)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
      <!-- <ion-item>
        <ion-label position="floating">Fecha de nacimiento</ion-label>
        <ion-datetime [(ngModel)]="userData.fechaNacimiento" name="fechaNacimiento" 
          display-format="DD/MM/YYYY" picker-format="DD MMMM YYYY"></ion-datetime>
      </ion-item> -->
  
      <div class="ion-padding">
        <ion-button (click)="limpiar()">
          Limpiar
        </ion-button>
        <ion-button (click)="mostrar()">
          Mostrar
        </ion-button>
      </div>
    </form>
  
  
  </ion-content>
  
</div>