<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end">Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()" class="register-form">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Crea tu cuenta</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input type="text" [(ngModel)]="userData.username" name="username" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="userData.password" name="password" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="userData.confirmPassword" name="confirmPassword" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="userData.nombre" name="nombre" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" [(ngModel)]="userData.apellido" name="apellido" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Nivel de educación</ion-label>
          <ion-select [(ngModel)]="userData.nivelEducacion" name="nivelEducacion" required>
            <ion-select-option value="basica">Básica</ion-select-option>
            <ion-select-option value="media">Media</ion-select-option>
            <ion-select-option value="superior">Superior</ion-select-option>
            <ion-select-option value="doctorado">Doctorado</ion-select-option>
          </ion-select>
        </ion-item>

        <mat-form-field appearance="fill">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="userData.fechaNacimiento" name="fechaNacimiento" (click)="picker.open()">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker>
            <mat-datepicker-actions>
              <button mat-raised-button matDatepickerApply>Elegir</button>
              <button mat-raised-button matDatepickerCancel>Cancelar</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>

        <ion-button expand="block" type="submit" class="ion-margin-top">Registrarse</ion-button>
      </ion-card-content>
    </ion-card>
    
  </form>
  
</ion-content>