.register-form {
    max-width: 500px;
    margin: 0 auto;
}

ion-card {
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ion-card-header {
    background-color: var(--ion-color-primary);
}

ion-card-title {
    color: var(--ion-color-primary-contrast);
    font-size: 1.5em;
    font-weight: bold;
}

ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    margin-bottom: 15px;
}

ion-input, ion-select {
    --padding-start: 15px;
    --padding-end: 15px;
    border-radius: 5px;
}

ion-button[type="submit"] {
    margin-top: 20px;
    --border-radius: 5px;
}
